p#pogrubienie_jasi {
font-size: 33px;
color: rgb(127,93,203);
}

p#pochylona_jasi {
font-size: 38pt;
color: rgb(227,193,103);
}

p#index_gorny_jasi {
font-size: 1.3cm;
color: rgb(147,143,23);
}

p#index_dolny_jasi {
font-size: 2.1cm;
color: rgb(47,243,23);
}

p#mono_jasi {
font-size: 43px;
color: rgb(19,223,103);
}

p#powiekszenie_jasi {
color: rgb(77,63,153);
}

p#pomniejszenie_jasi {
color: rgb(177,163,53);
}
